<div class="container-fluid">
    <h1 style="text-align:center">Home Page Content Goes Here</h1>
    <p style="text-align:center">Welcome to <u>Concreate plans!</u> Here you can begin creating and planning your events, hangouts with friends or business meetings. <br> You can also see upcoming events and notifications</p>
    <div class="row">
        <div class="col">
            <div>
                <button class="custom-button">Create an Event</button>
            </div>
            <div>
                <button class="custom-button">Create A Hangout</button>
            </div>
            <div>
                <button class="custom-button">Create a Meeting</button>
            </div>
        </div>
    </div>
</div>
